footer {
  @media only screen and (min-width : $portrait) and (max-width : $landscape) {
    padding-bottom: 3rem;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .footerAbout {
    padding-right: 4rem;
    p {
      font-size: 13px;
    }
  }
  .footerLink {
    ul {
      padding-left: 0px;
      li {
        list-style: none;
        a {
          font-size: 13px;
          color: $font-color;
        }
      }
    }
  }
  .footerSosmed {
    ul {
      padding-left: 0px;
      li {
        float: left;
        list-style: none;
        margin-right: 5px;
        a {
          display: block;
          .icons {
            width: 30px;
            height: 30px;
            line-height: 27px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #dddddd;
            i {
              color: #b5b5b5;
              font-size: 16px;
            }
          }
          .fb:hover {
            border-color: #1877f2;
            i {
              color: #1877f2;
            }
          }
          .ig:hover {
            border-color: #c32aa3;
            i {
              color: #c32aa3;
            }
          }
          .gplus:hover {
            border-color: #ea4335;
            i {
              color: #ea4335;
            }
          }
          .yt:hover {
            border-color: #ff0000;
            i {
              color: #ff0000;
            }
          }
          .twit:hover {
            border-color: #1da1f2;
            i {
              color: #1da1f2;
            }
          }
          .in:hover {
            border-color: #007bb5;
            i {
              color: #007bb5;
            }
          }
        }
      }
    }
  }
  #menu-bottom {
    display: none;
    bottom: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
    color: $bg-search;
    line-height: 45px;
    text-align: center;
    background: $color-white;
    border-top: 1px solid #dddddd;
    @media only screen and (min-width : $portrait) and (max-width : $landscape) {
      display: block;
    }
    .colSearchMobile {
      padding: 15px 30px;
      background: #5c5c5c;
      form {
        .ant-form-item {
          .ant-input {
            height: 43px;
          }
          .ant-select-selection--single {
            height: 43px;
            .ant-select-selection__rendered {
              line-height: 42px;
            }
          }
          @media only screen and (min-width : $portrait) and (max-width : $landscape) {
            margin-bottom: 0px;
          }
        }
        button {
          width: 100%;
          background: $black-color;
          border-color: $black-color;
          height: 40px;
          font-size: 17px;
        }
      }
    }
    .btnSearchMobile {
      background: $black-color;
      span {
        display: block;
        font-size: 18px;
        font-weight: 500;
      }
    }
    .boxIcon {
      img {
        width: 32px;
      }
    }
  }
}
